.about {
	position: relative;
	background: $hvh-primary-color;
	.signature {
		margin-top: 1.6rem;
		b {
			font-size: 1.4rem;
			display: block;
			margin-top: 0.8rem;
		}
	}
	.content {
		&-left {
			max-width: 45rem;
			width: 100%;
			h2 {
				font-size: 1vw;
				margin-bottom: 0.8rem;
				@media (max-width: 1024.98px) {
				}
				@media (max-width: 767.98px) {
					font-size: 1.4rem;
				}
			}
			h1 {
				font-size: 1.8vw;
				font-weight: 900;
				margin-bottom: 1.6rem;
				@media (max-width: 1024.98px) {
					font-size: 3vw;
				}
				@media (max-width: 767.98px) {
					font-size: 3.2rem;
				}
			}
			p {
				font-weight: 400;
			}
			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}
		&-right {
			padding-left: 5rem;
			h3 {
				font-size: 4rem;
				color: $hvh-white-color;
			}
			ul {
				margin-top: 2.4rem;
				li {
					color: $hvh-white-color;
					b {
						font-size: 2.4rem;
						color: $hvh-primary-color;
					}
					+ li {
						margin-top: 1.6rem;
					}
				}
			}
			@media (min-width: 1200px) {
				padding-left: 8rem;
			}
			@media (max-width: 1024.98px) {
				padding-left: 0;
			}
			@media (max-width: 767.98px) {
				padding: 5rem;
				background-image: var(--data-bg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: bottom right;
				margin-top: 4rem;
			}
		}
	}
	.background {
		background-image: var(--data-bg);
		background-size: cover;
		left: auto;
		right: 0;
		width: 50%;
		background-repeat: no-repeat;
		background-position: bottom right;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 0;
		height: 100%;
		@media (max-width: 767.98px) {
			display: none;
		}
	}
}
