.index-about {
	[class*='col-'] {
		&:first-child {
			padding-right: 5%;
			@media (max-width: 1024.98px) {
				padding-right: 10px;
			}
		}
	}

	p {
		margin-top: 1.6rem;
	}
	.CTA {
		margin-top: 1.6rem;
		display: flex;
		justify-content: flex-end;
	}
	.image {
		@media (max-width: 767.98px) {
			margin-top: 2.4rem;
		}
	}
}

.index-core-value {
	background: $hvh-secondary-color;
	h3 {
		font-size: 1.6rem;
		font-weight: 700;
		color: $hvh-light-color;
		letter-spacing: 0.1rem;
		margin-top: 1.6rem;
		text-transform: uppercase;
		@media (max-width: 1024.98px) {
			text-align: center;
		}
		@media (max-width: 575.98px) {
			text-align: left;
		}
	}
	p {
		color: $hvh-gray-text-color;
		margin-top: 0.8rem;
		max-width: 90%;
		@media (max-width: 1024.98px) {
			text-align: center;
			margin: 0.8rem auto 0;
		}
		@media (max-width: 575.98px) {
			text-align: left;
			max-width: 100%;
		}
	}
	.icon {
		img {
			@media (max-width: 1024.98px) {
				display: block;
				margin: 0 auto;
			}
			@media (max-width: 575.98px) {
				margin: 0;
				width: 4.4rem;
			}
		}
	}
	.item {
		@media (max-width: 1024.98px) {
			&:nth-child(3),
			&:nth-child(4) {
				margin-top: 3rem;
			}
		}
		@media (max-width: 575.98px) {
			&:nth-child(2) {
				margin-top: 3rem;
			}
		}
	}
}

.index-services {
	p {
		font-size: 1.5rem;
		margin-top: 0.8rem;
	}
	.list-item {
		margin-top: 2.4rem;
		h3 {
			margin-top: 1.6rem;
		}
	}
	.item {
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 2.4rem;
		}
		@media (max-width: 575.98px) {
			&:nth-child(1),
			&:nth-child(2) {
				margin-top: 1.6rem;
			}
		}
	}
	.image {
		@media (max-width: 1024.98px) {
			display: none;
		}
		@media (min-width: 1200px) {
			padding-left: 10rem;
		}
	}
}

.slider-index-categories-product {
	.slider-active {
		.swiper-slide {
			background: #616161;
			padding: 5.6rem;
			@media (max-width: 575.98px) {
				padding: 2.4rem;
			}
		}
		.content {
			h3 {
				position: relative;
				font-size: 2.4rem;
				padding-bottom: 0.8rem;
				margin-bottom: 2rem;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 8rem;
					height: 0.2rem;
					background: $hvh-primary-color;
				}
			}
			h3,
			p {
				color: $hvh-white-color;
			}
			.CTA {
				margin-top: 2.4rem;
			}
		}
		.image {
			img {
				display: block;
				margin: 0 auto;
				@media (max-width: 1024.98px) {
					width: 100%;
				}
			}
		}
	}
	.slider-thumb {
		position: relative;
		.swiper-slide {
			cursor: pointer;
			padding: 2.4rem;
			border: 0.1rem solid $hvh-gray-border-color;
			transition: 0.3s all ease-in-out;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				transform: translateX(-50%);
				height: 0.5rem;
				background: $hvh-primary-color;
				transition: 0.5s all ease-in-out;
			}
			&.swiper-slide-thumb-active {
				&:after {
					width: 100%;
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					background: $hvh-gray-border-color;
				}
			}
		}
		p {
			font-size: 1.4rem;
			letter-spacing: 0.1rem;
			font-weight: 700;
		}
		.button-navigation-slider {
			@media (min-width: 1025px) {
				display: none;
			}
			top: 0;
			&.prev {
				left: 0;
			}
			&.next {
				left: calc(4.4rem + 1.6rem);
			}
		}
		@media (max-width: 1024.98px) {
			padding-top: 5.6rem;
		}
	}
}

.index-working-process {
	[class*='col-'] {
		&:last-child,
		&:nth-last-child(2) {
			@media (max-width: 1024.98px) {
				margin-top: 2.4rem;
			}
			@media (max-width: 767.98px) {
				margin-top: 2rem;
			}
		}
	}
	h3,
	span {
		position: absolute;
		left: 1.6rem;
	}
	h3 {
		color: $hvh-white-color;
		font-size: 2.4rem;
		bottom: 1.6rem;
		transition: 0.3s all ease-in-out;
		@media (max-width: 1024.98px) {
			font-size: 2rem;
		}
	}
	span {
		font-size: 3.2rem;
		color: $hvh-primary-color;
		font-weight: 700;
		top: 1.6rem;
		width: 5.6rem;
		height: 5.6rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba($color: #2d2d2d, $alpha: 0.8);
		@media (max-width: 767.98px) {
			width: 4.4rem;
			height: 4.4rem;
			font-size: 2.4rem;
		}
	}
	.list-item {
		margin-top: 4rem;
	}
	.item {
		overflow: hidden;
		position: relative;
		padding-bottom: calc(306 / 306 * 100%);
		background: $hvh-gray-color;
		img {
			transition: 0.3s all ease-in-out;
		}
		@media (min-width: 1025px) {
			&:hover {
				h3 {
					color: $hvh-primary-color;
				}
				img {
					transform: scale(1.2);
				}
			}
		}
	}
}

.index-sale-off {
	[class*='col-'] {
		&:first-child {
			padding-right: 11rem;
			@media (max-width: 1199.98px) {
				padding-right: 5.6rem;
			}
			@media (max-width: 1024.98px) {
				padding-right: 10px;
			}
			@media (max-width: 767.98px) {
				order: 2;
				margin-top: 1.4rem;
			}
		}
	}
	.item {
		position: relative;
		padding-right: 5.6rem;
		padding-bottom: 5.6rem;
		height: 100%;
		@media (max-width: 1024.98px) {
			padding-right: 2.4rem;
			padding-bottom: 2.4rem;
		}
		@media (max-width: 767.98px) {
			padding-right: 0;
			padding-bottom: 0;
		}
	}
	.img {
		overflow: hidden;
		position: relative;
		padding-bottom: calc(480 / 528 * 100%);
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #675959, $alpha: 0.8);
		}
		@media (max-width: 767.98px) {
			display: none;
		}
	}
	.voucher {
		max-width: 35rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		@media (max-width: 767.98px) {
			position: relative;
		}
		@media (max-width: 575.98px) {
			max-width: 100%;
		}
	}
	.content {
		margin-top: 16px;
		p {
			margin-top: 16px;
		}
		ul {
			margin-top: 22px;
		}
		li {
			font-weight: 700;
			&:before {
				content: '\f00c';
				font-family: $hvh-font-icons;
				color: $hvh-primary-color;
				margin-right: 8px;
			}
			+ li {
				margin-top: 8px;
			}
		}
	}
}
