.slider-product-detail {
	figure {
		overflow: hidden;
		padding-bottom: calc(300 / 300 * 100%);
	}
	.slider-thumb {
		margin-top: 1.6rem;
		figure {
			cursor: pointer;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: 0;
				height: 0.5rem;
				background: var(--primary);
				transition: 0.5s all ease-in-out;
			}
		}
	}
	.swiper-slide-thumb-active {
		figure {
			&::after {
				width: 100%;
			}
		}
	}
}

.information-product-detail {
	position: relative;
	padding-bottom: 2.5rem;
	padding-left: calc(8.6805555556vw - 36.6666666667px);
	padding-right: calc(8.6805555556vw - 36.6666666667px);
	h1 {
		font-size: 4.4rem;
		@media (max-width: 1024.98px) {
			font-size: 3.6rem;
		}
		@media (max-width: 575.98px) {
			font-size: 3.2rem;
		}
	}
	h2 {
		color: var(--primary);
		font-size: 3.2rem;
		margin-top: 1.6rem;
	}
	del {
		display: block;
	}
	ul {
		width: 50%;
		margin-top: 2.4rem;
		li {
			display: flex;
			flex-wrap: wrap;
			p {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				font-weight: 400;
				&.color-red {
					color: var(--danger);
				}
				&.color-green {
					color: var(--success);
				}
			}
			+ li {
				margin-top: 1rem;
			}
		}
		@media (max-width: 1439.98px) {
			width: 100%;
		}
	}
	.btn-group {
		display: flex;
		flex-wrap: wrap;
		margin-top: 3rem;
		@media (max-width: 767.98px) {
			.btn {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				+ .btn {
					margin-top: 0.8rem;
				}
			}
		}
	}
	.quality-product-input {
		margin-top: 2rem;
		max-width: 24rem;
	}
	@media (max-width: 575.98px) {
		margin-top: 2.4rem;
		padding: 0;
	}
}

.tabs-product-detail {
	.tab__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.item {
			font-size: 2.8rem;
			font-weight: 700;
			+ .item {
				margin-left: 5.6rem;
				@media (max-width: 575.98px) {
					margin-left: 0;
				}
			}
			@media (max-width: 1024.98px) {
				font-size: 2.4rem;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	.tab__content {
		margin-top: 5.6rem;
		table {
			width: 100%;
			th,
			td {
				border: 0.1rem solid var(--border);
				padding: 2rem;
			}
		}
		.description {
			p,
			b {
				margin: 2rem 0;
			}
			ul {
				padding-left: 3rem;
				list-style-type: disc;
				margin: 2rem 0;
				li + li {
					margin-top: 1.2rem;
				}
			}
		}
		@media (max-width: 1024.98px) {
			margin-top: 2.4rem;
		}
	}
}

.product-detail-meta {
	padding: 3.2rem 0;
	border-top: 0.1rem solid var(--border);
	border-bottom: 0.1rem solid var(--border);
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			display: flex;
			font-weight: 700;
			span,
			a {
				font-weight: 300;
				margin-left: 0.8rem;
			}
			a {
				text-decoration: underline;
				transition: 0.3s all ease-in-out;
				@media (min-width: 1025px) {
					&:hover {
						color: var(--primary);
					}
				}
			}
			@media (max-width: 767.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		li + li {
			margin-left: 2.4rem;
			@media (max-width: 767.98px) {
				margin-left: 0;
				margin-top: 0.8rem;
			}
		}
	}
	@media (max-width: 767.98px) {
		padding: 1.6rem 0;
	}
}

.product-detail-review {
	.total-review {
		padding-right: calc(4.6805555556vw - 26.6666666667px);
		h3 {
			font-size: 1.8rem;
			margin-bottom: 0.8rem;
			span {
				text-transform: uppercase;
				margin-left: 0.4rem;
				&.color-green {
					color: var(--success);
				}
				&.color-red {
					color: var(--danger);
				}
			}
			@media (max-width: 767.98px) {
				margin-bottom: 0.4rem;
			}
		}
		.list-star {
			margin-bottom: 1.6rem;
			@media (max-width: 767.98px) {
				margin-bottom: 0.8rem;
			}
		}
		b,
		p {
			display: block;
			margin-top: 0.4rem;
			span {
				text-decoration: underline;
				margin: 0 0.4rem;
			}
		}
	}
}

.slider-review {
	.customer-information {
		display: flex;
		flex-wrap: wrap;
	}
	.avatar {
		position: relative;
		height: 8rem;
		-ms-flex: 0 0 8rem;
		flex: 0 0 8rem;
		max-width: 8rem;
		overflow: hidden;
		border-radius: 50%;
		background: var(--gray);
	}
	.description {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 2.4rem;
		h3 {
			font-size: 1.8rem;
			margin-bottom: 0.4rem;
		}
		span {
			font-weight: 500;
		}
	}
	.swiper-slide {
		border-right: 0.1rem solid var(--border);
		padding-right: 2.4rem;
		@media (max-width: 767.98px) {
			border-right: 0;
			padding-right: 0;
		}
	}
	@media (max-width: 1024.98px) {
		margin-top: 2.4rem;
	}
}

.product-detail-gallery {
	.grid-masonry {
		max-height: 65rem;
		overflow-y: auto;
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 0.6rem rgba(255, 255, 255, 0);
			background-color: #dfdfdf;
		}
		&::-webkit-scrollbar {
			width: 0.8rem;
			height: 0.8rem;
			background-color: #dfdfdf;
		}
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 0.6rem rgba(255, 255, 255, 0);
			background-color: var(--body);
		}
		.grid-masonry-item {
			cursor: pointer;
			width: 25%;
			padding: 0.3rem;
			.img {
				position: relative;
				background: var(--gray);
				&:after,
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba($color: #000000, $alpha: 0.5);
					//HIDEN
					opacity: 0;
					visibility: hidden;
					transition: 0.3s all ease-in-out;
				}
				&:before {
					content: '\f002';
					font-size: 2.4rem;
					color: var(--white);
					font-family: var(--font-icons);
					//HIDEN
					opacity: 0;
					visibility: hidden;
					z-index: 600;
					transition: 0.3s all ease-in-out;
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					.img {
						&:after,
						&:before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			@media (max-width: 1024.98px) {
				width: 33.3333%;
			}
			@media (max-width: 575.98px) {
				width: 50%;
			}
		}
		@media (max-width: 1024.98px) {
			max-height: 400px;
		}
	}
}

.slider-video-gallery {
	.video__thumbnail {
		position: relative;
		overflow: hidden;
		padding-bottom: calc(300 / 400 * 100%);
	}
}
