section.cart.pd-section
	.container
		.table-cart
			table
				thead
					tr
						th Hình ảnh
						th Tên sản phẩm
						th Đơn giá
						th Số lượng
						th Tổng cộng
						th Xóa
				tbody
					-for(i=1;i<5;i++)
						tr.row-cart-item-product
							td
								img(src=`./images/products/product_hoanglongcar_0${i}.jpg`, alt="HOANGLONGCAR-SANPHAM")
							td
								h4
									a.lcl.lcl-1(href="product-detail.html") Exhaust stroke
								span.lcl.lcl-1 Code: SP9052C
							td
								p
									span.unit(data-value="20000000")
							td
								.quality-product-input
									input(type="text" value="1" readonly)
									.qly-n
										.btn.btn-plus
											i.fal.fa-plus
										.btn.btn-minus
											i.fal.fa-minus
							td
								p
									span.row-total
							td
								.btn.btn-delete
									i.fal.fa-times
		.cart-total-wrapper
			.row
				.col-md-6.col-lg-7.col-xl-8
					a.btn.btn-large.color-primary(href="products.html") Xem thêm sảm phẩm
				.col-md-6.col-lg-5.col-xl-4
					.cart-total
						h3 Tổng hóa đơn
						.input-group
							input.form-control(type="text" placeholder="Nhập mã khuyến mã của bạn")
							button.btn.color-primary Xác nhận
						ul
							li
								b Tính tạm:
								b
									span.temp
							li
								b Phí dịch vụ:
								b
									span.service(data-value="0")
							li
								b Thuế VAT (10%):
								b
									span.tax(data-value="10")
							li
								b Giảm giá:
								b
									span.discount(data-value="0")
							li
								b Total:
								b
									span.total
						a.btn.bg-dark.btn-popup-form(data-fancybox data-src="#popop-form-contact" href="javascript:;") Điền thông tin tư vấn
						#popop-form-contact(style="display:none")
							.title-section.has-line.line-left.mb-title
								h2
									| điền thông tin 
									span tư vấn
							.block-form
								.form-group
									label Họ và tên
									input.form-control(type="text" placeholder="Ví dụ: Hoàng Văn Long")
								.form-group
									label Số điện thoại
									input.form-control(type="text" placeholder="Ví dụ: 0969912404")
								button.btn.bg-dark Xác nhận