// HERO BANNER
.hero-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img.object-cover.overflow-hidden(src='./images/hero-banner/01.png' alt='')
				.content.pos-center-center
					// TITLE
					h2 tưng bừng khai trương
					h2
						span ưu đãi
						| siêu bất ngờ
					// SUBTITLE
					h5
						| Sale off up to 50% cho tất cả sản phẩm khi sử
						| dụng dịch vụ tại Hoàng Long Car Spa
					// TIME
					p Từ 1/1/2021 - 2/2/2021
					// BUTTON / CTA
					.CTA
						a.btn.btn-large(href='#') THAM GIA NGAY