.page-banner
	img.lazyload.blur-up.object-cover(src=pageBanner, width="1920", height="350", alt="HOANG-LONG-CAR")
	div
		h1 #{namePage}
		ul
			each val, key in breadcrumb
				li
					a(href="#") #{val}