nav.navigation.pagination(role='navigation' aria-label='Bài viết')
	h2.screen-reader-text &Dstrok;i&#x1EC1;u h&#x1B0;&#x1EDB;ng b&agrave;i vi&#x1EBF;t
	.nav-links
		a.prev.page-numbers(href='#')
			span.lnr.lnr-chevron-left
		a.page-numbers(href='#') 1
		span.page-numbers.current(aria-current='page') 2
		a.page-numbers(href='#') 3
		span.page-numbers.dots &mldr;
		a.page-numbers(href='#') 5
		a.next.page-numbers(href='#')
			span.lnr.lnr-chevron-right

