#overlay {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 1000%;
	top: 0;
	left: 0;
	background: rgba($color: #000000, $alpha: 0.8);
	z-index: 550;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms,
		left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}

.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}
}

.pos-center-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: 700;
	white-space: nowrap;
	padding: 8px 16px;
	color: var(--white);
	border: 1px solid var(--white);
	transition: 0.3s all ease-in-out;
	border-radius: 0.3rem;
	&.btn-large {
		padding: 16px 24px;
		@media (max-width: 575.98px) {
			padding: 12px 16px;
		}
	}
	&.color-dark {
		color: var(--dark);
		border: 1px solid var(--dark);
	}
	&.color-primary {
		color: var(--body);
		background: var(--primary);
		border: 0;
	}
	&.color-neutral-medium_sub {
		color: var(--neutral-medium_sub);
		border: 1px solid var(--neutral-medium_sub);
	}
	&.bg-dark {
		color: var(--white);
		background: var(--dark);
	}
	&.bg-primary {
		color: var(--body);
		background: var(--primary);
	}
	&.bg-gray {
		color: var(--body);
		background: var(--gray);
		&:hover {
			background: var(--neutral-light_disable);
		}
	}
	&.no-border {
		border: 0;
	}
	span {
		margin-left: 8px;
	}
	.icon {
		width: 16px;
		height: 16px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-left: 8px;
	}
	@media (min-width: 1025px) {
		&:hover {
			color: var(--dark);
			background: var(--primary);
		}
	}
}

.share-button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
	border-radius: 50%;
	transition: 0.3s all ease-in-out;
	@media (min-width: 1025px) {
		&:hover {
			color: var(--white);
			background: var(--dark);
		}
	}
}

.filter-button {
	position: relative;
	display: flex;
	align-items: center;
	padding: 9px 15px 9px 20px;
	height: 48px;
	min-width: 230px;
	border: 2px solid var(--border);
	span {
		margin-left: 8px;
	}
	&:after {
		content: '\f424';
		font-family: 'Font Awesome 5 Pro';
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.title-section {
	h2 {
		font-family: 'SVN-Neutraface 2';
		display: inline-block;
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;
		span {
			display: inline-block;
			color: var(--primary);
		}
		@media (max-width: 575.98px) {
			font-size: 2.2rem;
		}
	}
	&.color-light {
		h2 {
			color: var(--light);
		}
	}
	&.has-line {
		h2 {
			position: relative;
			padding-bottom: 26px;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 70px;
				height: 10px;
				transform: translateX(-50%);
				background-image: url(../../images/icons/line-title.svg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				@media (max-width: 575.98px) {
					width: 50px;
				}
			}
			@media (max-width: 575.98px) {
				padding-bottom: 16px;
			}
		}
	}
	&.line-center-left {
		h2 {
			padding-right: 16px;
			padding-bottom: 0;
			&:after {
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&.line-left {
		h2 {
			&:after {
				left: 0;
				transform: unset;
			}
		}
	}
}

.subtitle-section {
	span {
		color: var(--neutral-medium_sub);
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 4px;
	}
}

.bg-section {
	background: var(--data-bg);
	background-size: cover;
	background-repeat: no-repeat;
}

.voucher {
	text-align: center;
	.top,
	.bottom {
		padding: 32px 16px;
	}
	.top {
		background: var(--primary);
		h3 {
			color: var(--accent-red);
			font-size: 2.8rem;
			font-weight: 700;
			margin: 8px 0;
		}
	}
	.bottom {
		position: relative;
		background: var(--body);
		h3 {
			font-size: 2rem;
			color: var(--light);
			margin-bottom: 8px;
		}
		p {
			color: var(--primary);
		}
		.CTA {
			margin-top: 24px;
		}
	}
}

.isVideo {
	position: relative;
	&:after {
		content: '\f144';
		font-family: 'Font Awesome 5 Pro';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 5.6rem;
		color: var(--white);
		pointer-events: none;
	}
}

.button-navigation-slider {
	position: absolute;
	cursor: pointer;
	color: var(--white);
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	overflow: hidden;
	background: rgba($color: #2d2d2d, $alpha: 0.8);
	border-radius: 5px;
	z-index: 50;
	&.bg-primary {
		background: rgba(#ffc513, $alpha: 0.8);
	}
	&.bg-white {
		color: var(--primary);
		background: rgba($color: #ffffff, $alpha: 0.8);
	}
	&.bg-none {
		color: var(--primary);
	}
	&.center-50px {
		top: 50%;
		transform: translateY(-50%);
		&.prev {
			left: 24px;
		}
		&.next {
			right: 24px;
		}
	}

	&.swiper-button-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
	@media (max-width: 767.98px) {
		font-size: 16px;
		width: 44px;
		height: 44px;
	}
	@media (min-width: 1025px) {
		transition: 0.3s all ease-in-out;
		&:hover {
			color: var(--primary);
			background: var(--secondary);
		}
	}
}

.slider-news {
	position: relative;
	background: #f2f2f2;
}

.partners {
	.item {
		display: block;
		position: relative;
		height: 125px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border: 1px solid var(--border);
		padding: 16px;
	}
}

.list-star {
	color: var(--primary);
	&[rate='4'] {
		i {
			&:nth-child(5) {
				color: var(--body);
			}
		}
	}
	&[rate='3'] {
		i {
			&:nth-child(5),
			&:nth-child(4) {
				color: var(--body);
			}
		}
	}
	&[rate='2'] {
		i {
			&:nth-child(5),
			&:nth-child(4),
			&:nth-child(3) {
				color: var(--body);
			}
		}
	}
	&[rate='1'] {
		i {
			&:nth-child(5),
			&:nth-child(4),
			&:nth-child(3),
			&:nth-child(2) {
				color: var(--body);
			}
		}
	}
}

.grid-masonry {
	.grid-masonry-item {
		float: left;
	}
}

#popop-form-contact {
	max-width: 550px;
	width: 100%;
	h3 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
}
