#overlay {
	cursor: pointer;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba($color: #000000, $alpha: 0.8);
	z-index: 550;
	opacity: 0;
	pointer-events: none;
	transition: opacity 500ms cubic-bezier(1, 0, 0, 1) 0ms,
		left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}

.blur-up {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}
}

.pos-center-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: 700;
	white-space: nowrap;
	padding: 0.8rem 1.6rem;
	color: $hvh-white-color;
	border: 0.1rem solid $hvh-white-color;
	transition: 0.3s all ease-in-out;
	border-radius: 0.3rem;
	&.btn-large {
		padding: 1.6rem 2.4rem;
		@media (max-width: 575.98px) {
			padding: 1.2rem 1.6rem;
		}
	}
	&.color-dark {
		color: $hvh-body-text-color;
		border: 0.1rem solid $hvh-body-text-color;
	}
	&.color-primary {
		color: $hvh-body-text-color;
		background: $hvh-primary-color;
		border: 0;
	}
	&.color-neutral-medium_sub {
		color: $hvh-gray-text-color;
		border: 0.1rem solid $hvh-gray-text-color;
	}
	&.bg-dark {
		color: $hvh-white-color;
		background: $hvh-body-text-color;
	}
	&.bg-primary {
		color: $hvh-body-text-color;
		background: $hvh-primary-color;
	}
	&.bg-gray {
		color: $hvh-body-text-color;
		background: $hvh-gray-color;
		&:hover {
			background: $hvh-gray-text-color;
		}
	}
	&.no-border {
		border: 0;
	}
	span {
		margin-left: 0.8rem;
	}
	.icon {
		width: 1.6rem;
		height: 1.6rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-left: 0.8rem;
	}
	@media (min-width: 1025px) {
		&:hover {
			color: $hvh-body-text-color;
			background: $hvh-primary-color;
		}
	}
}

.share-button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	box-shadow: 0 0.3rem 0.6rem rgba($color: #000000, $alpha: 0.16);
	border-radius: 50%;
	transition: 0.3s all ease-in-out;
	@media (min-width: 1025px) {
		&:hover {
			color: $hvh-white-color;
			background: $hvh-body-text-color;
		}
	}
}

.filter-button {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0.9rem 1.5rem 0.9rem 2rem;
	height: 4.8rem;
	min-width: 23rem;
	border: 0.2rem solid $hvh-gray-border-color;
	span {
		margin-left: 0.8rem;
	}
	&:after {
		content: '\f424';
		font-family: $hvh-font-icons;
		position: absolute;
		right: 1.6rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

.title-section {
	h2 {
		font-family: $hvh-font-title;
		display: inline-block;
		font-size: 2.8rem;
		font-weight: 700;
		text-transform: uppercase;
		span {
			display: inline-block;
			color: $hvh-primary-color;
		}
		@media (max-width: 575.98px) {
			font-size: 2.2rem;
		}
	}
	&.color-light {
		h2 {
			color: $hvh-light-color;
		}
	}
	&.has-line {
		h2 {
			position: relative;
			padding-bottom: 2.6rem;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 7rem;
				height: 1rem;
				transform: translateX(-50%);
				background-image: url(../../images/icons/line-title.svg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				@media (max-width: 575.98px) {
					width: 5rem;
				}
			}
			@media (max-width: 575.98px) {
				padding-bottom: 1.6rem;
			}
		}
	}
	&.line-center-left {
		h2 {
			padding-right: 1.6rem;
			padding-bottom: 0;
			&:after {
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&.line-left {
		h2 {
			&:after {
				left: 0;
				transform: unset;
			}
		}
	}
}

.subtitle-section {
	span {
		color: $hvh-gray-text-color;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
		margin-top: 0.4rem;
	}
}

.bg-section {
	background: var(--data-bg);
	background-size: cover;
	background-repeat: no-repeat;
}

.voucher {
	text-align: center;
	.top,
	.bottom {
		padding: 3.2rem 1.6rem;
	}
	.top {
		background: $hvh-primary-color;
		h3 {
			color: $hvh-danger-color;
			font-size: 2.8rem;
			font-weight: 700;
			margin: 0.8rem 0;
		}
	}
	.bottom {
		position: relative;
		background: $hvh-secondary-color;
		h3 {
			font-size: 2rem;
			color: $hvh-light-color;
			margin-bottom: 0.8rem;
		}
		p {
			color: $hvh-primary-color;
		}
		.CTA {
			margin-top: 2.4rem;
		}
	}
}

.isVideo {
	position: relative;
	&:after {
		content: '\f144';
		font-family: $hvh-font-icons;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 5.6rem;
		color: $hvh-white-color;
		pointer-events: none;
	}
}

.button-navigation-slider {
	position: absolute;
	cursor: pointer;
	color: $hvh-white-color;
	font-size: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	background: rgba($color: #2d2d2d, $alpha: 0.8);
	border-radius: 0.3rem;
	z-index: 50;
	&.bg-primary {
		background: rgba(#ffc513, $alpha: 0.8);
	}
	&.bg-white {
		color: $hvh-primary-color;
		background: rgba($color: #ffffff, $alpha: 0.8);
	}
	&.bg-none {
		color: $hvh-primary-color;
	}
	&.center-50px {
		top: 50%;
		transform: translateY(-50%);
		&.prev {
			left: 2.4rem;
		}
		&.next {
			right: 2.4rem;
		}
	}

	&.swiper-button-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
	@media (max-width: 767.98px) {
		font-size: 16px;
		width: 4.4rem;
		height: 4.4rem;
	}
	@media (min-width: 1025px) {
		transition: 0.3s all ease-in-out;
		&:hover {
			color: $hvh-primary-color;
			background: $hvh-secondary-color;
		}
	}
}

.slider-news {
	position: relative;
	background: #f2f2f2;
}

.partners {
	.item {
		display: block;
		position: relative;
		height: 15rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border: 0.1rem solid $hvh-gray-border-color;
		padding: 1.6rem;
	}
}

.card-our-team {
	.member__image {
		position: relative;
		padding-bottom: calc(295 / 295 * 100%);
	}
	.member__information {
		margin-top: 1.6rem;
		h3,
		p {
			text-align: center;
		}
		h3 {
			font-size: 2.4rem;
		}
		p {
			color: $hvh-gray-text-color;
			font-weight: 500;
		}
	}
}

.list-star {
	color: $hvh-primary-color;
	&[rate='4'] {
		i {
			&:nth-child(5) {
				color: $hvh-body-text-color;
			}
		}
	}
	&[rate='3'] {
		i {
			&:nth-child(5),
			&:nth-child(4) {
				color: $hvh-body-text-color;
			}
		}
	}
	&[rate='2'] {
		i {
			&:nth-child(5),
			&:nth-child(4),
			&:nth-child(3) {
				color: $hvh-body-text-color;
			}
		}
	}
	&[rate='1'] {
		i {
			&:nth-child(5),
			&:nth-child(4),
			&:nth-child(3),
			&:nth-child(2) {
				color: $hvh-body-text-color;
			}
		}
	}
}

.grid-masonry {
	.grid-masonry-item {
		float: left;
	}
}

#popop-form-contact {
	max-width: 55rem;
	width: 100%;
	padding: 4.4rem;
	h3 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
}

.google-map {
	height: 50rem;
	width: 100%;
}
