@import url("reset.css");
@import url("global.css");
@import url("variables.css");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  height: 150px;
  padding: 25px 0;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  margin-left: auto;
}
nav li + li {
  margin-left: 42px;
}
nav a {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}

.hero-banner .swiper-slide {
  position: relative;
  width: 100%;
}
.hero-banner .swiper-slide:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  background: var(--black);
  z-index: 1;
}
@media (min-width: 1200px) {
  .hero-banner .swiper-slide {
    height: 800px;
  }
}
.hero-banner .content {
  z-index: 10;
}
.hero-banner .content h2 {
  font-size: 4rem;
  line-height: 48px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}
.hero-banner .content h2 span {
  color: var(--primary);
}
.hero-banner .content h2 + h2 {
  margin-top: 16px;
}
.hero-banner .content h5 {
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 700;
  margin-top: 16px;
  color: var(--white);
}
.hero-banner .content p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary);
  margin-top: 24px;
}
.hero-banner .content .CTA {
  text-align: center;
  margin-top: 44px;
}

.index-about p {
  margin-top: 16px;
}
.index-about .CTA {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .index-about .image {
    margin-top: 24px;
  }
}

.index-core-value {
  margin-top: 30px;
  background: var(--secondary);
}
.index-core-value h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--light);
  letter-spacing: 1px;
  margin-top: 16px;
  text-transform: uppercase;
}
.index-core-value p {
  color: var(--neutral-light_disable);
  margin-top: 8px;
}
.index-core-value .list-item {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .index-core-value .list-item {
    margin-top: 55px;
  }
}
@media (min-width: 1200px) {
  .index-core-value .list-item {
    margin-top: 80px;
  }
}
@media (max-width: 1024.98px) {
  .index-core-value .item:nth-child(3), .index-core-value .item:nth-child(4) {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .index-core-value .item:nth-child(2) {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .index-core-value {
    margin-top: 55px;
  }
}
@media (min-width: 1200px) {
  .index-core-value {
    margin-top: 80px;
  }
}

.index-services p {
  margin-top: 8px;
}
.index-services .list-item {
  margin-top: 24px;
}
.index-services .list-item h3 {
  margin-top: 16px;
}
.index-services .item:nth-child(3), .index-services .item:nth-child(4) {
  margin-top: 16px;
}
@media (max-width: 992px) {
  .index-services .image {
    display: none;
  }
}
@media (min-width: 1200px) {
  .index-services .image {
    padding-left: 100px;
  }
}