.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.d-none,
[hidden] {
  display: none !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-last-center {
  text-align-last: center;
}

.text-underline {
  text-decoration: underline;
}

.text-no-underline {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.fullsize, .object-contain, .object-cover {
  width: 100%;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.object-contain {
  object-fit: contain;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.pt-section, .pd-section {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .pt-section, .pd-section {
    padding-top: 55px;
  }
}
@media (min-width: 1200px) {
  .pt-section, .pd-section {
    padding-top: 80px;
  }
}

.pb-section, .pd-section {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .pb-section, .pd-section {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .pb-section, .pd-section {
    padding-bottom: 80px;
  }
}

.pos-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  padding: 8px 16px;
  color: var(--white);
  border: 1px solid var(--white);
}
.btn.btn-large {
  padding: 16px 24px;
}
.btn.color-dark {
  color: var(--body);
}
.btn .icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.title-section {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.title-section span {
  color: var(--primary);
}
.title-section.color-light {
  color: var(--light);
}
.title-section.has-line {
  position: relative;
  padding-bottom: 26px;
}
.title-section.has-line:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 70px;
  height: 10px;
  transform: translateX(-50%);
  background-image: url(/resources/icons/line-title.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.title-section.line-center-left {
  display: inline-block;
  padding-right: 16px;
  padding-bottom: 0;
}
.title-section.line-center-left:after {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.subtitle-section {
  color: var(--neutral-medium_sub);
  display: inline-block;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 700;
  margin-top: 4px;
}