:root {
  --primary: #ffc513;
  --secondary: #2d2d2d;
  --light: #faf9fa;
  --white: #ffffff;
  --black: #000000;
  --body: #2d2d2d;
  --neutral-medium_sub: #858585;
  --neutral-light_disable: #b8b8b8;
}