section.news-detail-content
	img(src="./images/news/news-detail.jpg", alt="TOP-5-THUONG-HIEU-DVD-ANDOIRD")
	h2 Flat Tire Repair and Tire Replacement in Framingham Massachusetts
	-for(i=0;i<5;i++)
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tempore dolorem aut quos, quo rem officiis nulla necessitatibus, nemo expedita voluptate ipsum neque totam soluta repudiandae sapiente aliquid placeat voluptas!
	h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua
	-for(j=0;j<5;j++)
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tempore dolorem aut quos, quo rem officiis nulla necessitatibus, nemo expedita voluptate ipsum neque totam soluta repudiandae sapiente aliquid placeat voluptas!
	ul
		-for(z=0;z<5;z++)
			li Lorem ipsum dolor sit amet consectetur adipisicing
	img(src="./images/news/news-detail.jpg", alt="TOP-5-THUONG-HIEU-DVD-ANDOIRD")
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tempore dolorem aut quos, quo rem officiis nulla necessitatibus, nemo expedita voluptate ipsum neque totam soluta repudiandae sapiente aliquid placeat voluptas!