section.share-post
	p Chia sẻ
	ul.socials
		li.item-social
			a(href="#")
				i.fab.fa-facebook-f
		li.item-social
			a(href="#")
				i.fab.fa-linkedin-in
		li.item-social
			a(href="#")
				i.fab.fa-youtube