<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		title Hoàng Long Car | 404
	body
		section.error-404.bg-section(style="--data-bg:url('../../images/background/404.jpg')")
			.container
				.content
					h2 Error
						span 404!
					p Ooops! this page is not found
					a.btn.color-primary.btn-large(href="index.html") Trở về trang chủ