extends views/_layouts/layout

block var
	- bodyClass = "index-page"
	- pageTitle = "Hoàng Long Car"
	- titleSliderNews = "BLOG - TIN TỨC & SỰ KIỆN"
block main
	// HERO BANNER
	include ./views/_components/hero-banner
	// ABOUT
	include ./views/_index/i-1
	// CORE VALUE
	include ./views/_index/i-2
	// SERVICES
	include ./views/_index/i-3
	// CATEGORIES
	include ./views/_index/i-4
	// WORKING PROCESS
	include ./views/_index/i-5
	// SALE OFF
	include ./views/_index/i-6
	// NEWS
	include ./views/_components/slider-news
	// PARTNER
	include ./views/_components/partner