extends views/_layouts/layout

block var
	- bodyClass = "news-detail-page"
	- pageTitle = "Hoàng Long Car | TOP 5 THƯƠNG HIỆU DVD ANDOIRD"
	- pageBanner = "./images/page-banner/products_hoanglongcar.jpg"
	- breadcrumb = {1:'Trang chủ', 2:'Tin tức', 3:'TOP 5 THƯƠNG HIỆU DVD ANDOIRD'};
	- namePage = "TOP 5 THƯƠNG HIỆU DVD ANDOIRD"
block main
	// PAGE BANNERs
	include ./views/_components/page-banner
	section.news-detail.pd-section
		.container
			.row
				.col-md-8
					// NEWS DETAIL
					include ./views/_news/detail
					include ./views/_news/share