// ABOUT
section.index-about.pt-section
	.container
		.row
			.content.col-md-6
				.title-section
					h2 về chúng tôi
				.subtitle-section
					span Tổng quan về công ty
				p
					| Với bề dày kinh nghiệm trong lĩnh vực ô tô,
					| Hoàng Long Car Spa cung cấp các dịch vụ
					| Detailing chuyên nghiệp, chăm sóc, bảo vệ ô tô
					| cao cấp. Chúng tôi luôn nỗ lực hoàn thiện mình
					| qua từng ngày, từng dịch vụ, từng sản phẩm để
					| đem lại trải nghiệm hài lòng nhất cho quý khách
					| hàng.
				.CTA
					a.btn.color-dark.icon-arrow-right(href='#')
						| Xem thêm
						.icon
							i.fas.fa-chevron-double-right
			.image.col-md-6
				img(src='./images/index/about.png' alt='GIOI-THIEU-HOANGLONG')