section.index-about.pt-section
	.container
		.row.align-items-center
			.col-md-6
				.content
					.title-section
						h2 về chúng tôi
					.subtitle-section
						span Tổng quan về công ty
					p Với bề dày kinh nghiệm trong lĩnh vực ô tô, Hoàng Long Car Spa cung cấp các dịch vụ chuyên nghiệp, chăm sóc, bảo vệ ô tô cao cấp. Chúng tôi luôn nỗ lực hoàn thiện mình qua từng ngày, từng dịch vụ, từng sản phẩm để đem lại trải nghiệm hài lòng nhất cho quý khách hàng.
					.CTA
						a.btn.color-dark.icon-arrow-right.no-border(href='about.html')
							| Xem thêm
							.icon
								i.fas.fa-chevron-double-right
			.col-md-6
				.image
					img.lazyload.blur-up(src='./images/index/about.png', width="660", height="267", alt='GIOI-THIEU-HOANGLONGCAR')