// CORE VALUE
section.index-core-value.pt-section.pd-section
	.container
		h2.title-section.color-light.text-center.has-line
			span hoanglong 
			|  giá trị cốt lõi
		.list-item.row
			.col-lg-3.col-sm-6.item
				.icon
					img(src='./images/index/core-value-01.png' alt='GIA-TRI-COT-LOI-01')
				h3 DỊCH VỤ CHẤT LƯỢNG
				p
					| Với quy trình sản xuất hiện đại và kiểm tra
					| nghiêm ngặt, chúng tôi luôn nỗ lực mang đến cho
					| khách hàng sản phẩm chất lượng, bền bỉ, hiện
					| đại.
			.col-lg-3.col-sm-6.item
				.icon
					img(src='./images/index/core-value-02.png' alt='GIA-TRI-COT-LOI-01')
				h3 HÀI LÒNG KHÁCH HÀNG
				p
					| Đối với chúng tôi, khách hàng luôn là ưu tiên
					| hàng đầu, luôn cố gắng cải tiến và hoàn thiện
					| sản phẩm & dịch vụ để tối đa hóa sự hài lòng của
					| khách hàng.
			.col-lg-3.col-sm-6.item
				.icon
					img(src='./images/index/core-value-03.png' alt='GIA-TRI-COT-LOI-01')
				h3 chi phí hợp lý
				p
					| Hiểu được tâm lý khách hàng cùng với mong muốn
					| mang đến sự trải nghiệm, cung cấp những dòng sản
					| phẩm chính hãng, hiện đại cùng mức giá phải
					| chăng.
			.col-lg-3.col-sm-6.item
				.icon
					img(src='./images/index/core-value-04.png' alt='GIA-TRI-COT-LOI-01')
				h3 NHÂN VIÊN CHUYÊN NGHIỆP
				p
					| Đội ngũ Chuyên viên kỹ thuật dày dặn kinh ng
					| hiệm, được đào tạo một cách bài bản, cùng với
					| niềm đam mê và kiến thức chuyên môn vững chắc.