-let corevalues = {1: 'DỊCH VỤ CHẤT LƯỢNG', 2: 'HÀI LÒNG KHÁCH HÀNG', 3: 'chi phí hợp lý', 4: 'NHÂN VIÊN CHUYÊN NGHIỆP'};
section.index-core-value.pd-section.mt-section
	.container
		.title-section.color-light.has-line.text-center
			h2
				span hoanglong 
				|  giá trị cốt lõi
		.list-item.row.mt-section
			each val,key in corevalues
				.col-lg-3.col-sm-6.item
					.icon
						img(src=`./images/index/core-value-0${key}.png` alt='GIA-TRI-COT-LOI')
					h3 #{val}
					p.lcl.lcl-4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit nobis officia deleniti aliquid quos fuga distinctio, esse, soluta, pariatur temporibus excepturi?