block let
	- services = {1: 'Giải pháp lắp đặt thông minh', 2: 'Bảo hành miễn phí', 3: 'Sửa chữa phụ tùng', 4: 'Hỗ trợ tư vấn 24/7'};
section.index-services.pt-section
	.container
		.title-section.has-line.line-center-left.mb-title
			h2
				| các dịch vụ 
				span nổi bật
		.row
			// CONTENT
			.col-lg-6.content
				p Nulla Lorem mollit cupidatat irure. Laborum magna nulla duisllamco cillum dolor. Voluptate exercitation incididunt aliquip deseruntswasewop fanderit elit
				.list-item.row
					each val,key in services
						.item.col-md-6.wow.fadeInLeft(data-wow-delay=`.${key*2}s`)
							.icon
								img.lazyload.blur-up(src=`./images/index/service-0${key}.png`, width="44", height="44", alt='DICH-VU-LAP-DAT')
							h3.lcl.lcl-1 #{val}
							p.lcl.lcl-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorum architecto ipsum hic quam, expedita quis asperiores porro nesciunt.
			// IMGAGE
			.col-lg-6.image
				img.object-cover(src='./images/index/service.png', width="570", height="466" alt='DICH-VU-HOANGLONGCAR')
