// SERVICES
section.index-services.pd-section
	.container
		h2.title-section.has-line.line-center-left
			| các dịch vụ
			span nổi bật
		.row
			// CONTENT
			.col-lg-6.content
				p
					| Nulla Lorem mollit cupidatat irure. Laborum
					| magna nulla duisllamco cillum dolor. Voluptate
					| exercitation incididunt aliquip deseruntswasewop
					| fanderit elit
				.list-item.row
					.item.col-md-6
						.icon
							img(src='./images/index/service-01.png' alt='DICH-VU-LAP-DAT')
							h3 Giải pháp lắp đặt thông minh
							p
								| Luôn mang đến cho khách hàng những
								| giải pháp dịch vụ tận nhà hoặc tại
								| Garage một cách tối ưu và phù hợp
								| nhất cho khách hàng.
					.item.col-md-6
						.icon
							img(src='./images/index/service-02.png' alt='DICH-VU-BAO-HANH')
							h3 Bảo hành miễn phí
							p
								| Các sản phẩm tại Hoàng Long Car Spa
								| được sửa chữa và bảo hành miễn phí
								| theo chính sách bảo hành hiện hữu.
					.item.col-md-6
						.icon
							img(src='./images/index/service-03.png' alt='DICH-VU-SU-CHUA-PHU-TUNG')
							h3 Sửa chữa phụ tùng
							p
								| Hỗ trợ các dịch vụ sửa chữa những
								| phụ tùng, phụ kiện gặp vấn đề. Giúp
								| tăng tuổi thọ, giảm chi phí thay thế
								| và tránh phát sinh sự cố.
					.item.col-md-6
						.icon
							img(src='./images/index/service-04.png' alt='DICH-VU-HO-TRO-TU-VAN')
							h3 Hỗ trợ tư vấn 24/7
							p
								| Tư vấn và hỗ trợ đưa ra các giải
								| pháp lắp đặt, sửa chữa tối ưu nhất
								| với nhu cầu của khách hàng.
			// IMGAGE
			.col-lg-6.image
				img.object-cover(src='./images/index/service.png' alt='DICH-VU-HOANGLONG')
