section.index-sale-off.pd-section
	.container
		.row
			.col-md-6
				.item
					.img
						img.object-cover.object-resize.lazyload.blur-up(src="./images/index/index-sale-off.jpg",width="480", height="528", alt="KHUYEN-MAI-HOANGLONGCAR")
					.voucher.wow.bounceIn(data-wow-delay=`.5s`)
						.top
							span Ưu đãi đặc biệt
							h3 -50% HÓA ĐƠN
							p Tất cả Dịch vụ & Sản phẩm
						.bottom
							h3 SỰ KIỆN MỚI NHẤT
							p 1.1.2021 - 1.2.2021
							.CTA
								a(href="#").btn.btn-large THAM GIA NGAY
			.col-md-6
				.title-section.has-line.line-left
					h2 KHAI TRƯƠNG 
						span GIẢM 50%
						|  CHO TẤT CẢ
						br
						| SẢN PHẨM LẪN DỊCH VỤ
				.content
					p We use the latest diagnostic equipment to guarantee your vehicle is repaired or serviced properly and in a timely fashion. We are a member of Professional Auto Service, an elite performance network, where independent service facilities share common goals of being world-class automotive service centers.
					ul
						li 24 Month / 24,000km Nationwide Warranty
						li Courtesy Local Shuttle Service
						li Customer Rewards Program
						li ASE Certified Technicians
						li 24-Hour Roadside Assistance
						li Courtesy Loaner Vehicle