section.partners.pd-section
	.container
		.title-section.has-line.mb-title.text-center
			h2 ĐỐI TÁC
		.slider-partners
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							a(href="#").item
								img(src=`./images/partners/${i}.png`, alt="DOI-TAC-HOANGLONGCAR")