//- link(rel="stylesheet", href="./css/core.min.css")
//- link(rel="stylesheet", href="./css/main.min.css")
link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

<!-- inject:css -->
<!-- endinject -->