footer.bg-section(style="--data-bg:url('../../images/background/index-working-process.png')")
	.container
		a(href="index.html").logo
			img(src="./images/LOGO.svg", alt="HOANG-LONG-CAR")
		.row
			.col-lg-6.col-md-12
				ul.list-information
					li.item-information
						p Số điện thoại
						a(href="tel:(480) 555-0103") (480) 555-0103
					li.item-information
						p Email
						a(href="mailto:tim.jennings@example.com") tim.jennings@example.com
					li.item-information
						p Trụ ở chính
						a(href="#") 17th Floor, Building B - Viettel Complex Tower, Cach Mang Thang Tam Street, District 10, Hochiminh City
					li.item-information
						p Liên kết
						ul.socials
							li.item-social
								a(href="#")
									i.fab.fa-facebook-f
							li.item-social
								a(href="#")
									i.fab.fa-linkedin-in
							li.item-social
								a(href="#")
									i.fab.fa-youtube
			.col-lg-2.col-md-12
				h3.title-navigation SẢN PHẨM
				ul.list-navigation
					li.item-navigation
						a(href="products.html") Hệ thống DVD
					li.item-navigation
						a(href="products.html") Film cách nhiệt
					li.item-navigation
						a(href="products.html") Camera hành trình
					li.item-navigation
						a(href="products.html") Ghế nệm da
					li.item-navigation
						a(href="products.html") Gói Combo
			.col-lg-2.col-md-6
				h3.title-navigation CÔNG TY
				ul.list-navigation
					li.item-navigation
						a(href="about.html") Giới thiệu
					li.item-navigation
						a(href="#") Giải pháp
					li.item-navigation
						a(href="#") Khách hàng
					li.item-navigation
						a(href="#") Báo giá
					li.item-navigation
						a(href="#") Resouces
			.col-lg-2.col-md-6
				h3.title-navigation TRỢ GIÚP
				ul.list-navigation
					li.item-navigation
						a(href="#") Trung tâm hỗ trợ
					li.item-navigation
						a(href="#") Hình thức thanh toán
					li.item-navigation
						a(href="#") Hướng dẫn đăng nhập
					li.item-navigation
						a(href="#") Quy định sử dụng
.copy-right.text-center © 2021 
	a(href="#") H.V.H (Product Designer)
	| , All rights reserved.