header
	.nav-config-mobile
	.navigation
		.container
			.wrapper
				a(href="index.html").logo
					img.lazyload.blur-up(src='./images/LOGO.svg', width="122", height="100", alt='HOANGLONG-CAR')
				.btn-close
					i.far.fa-times-hexagon
				nav
					ul
						li.active
							a(href='index.html') Trang chủ
						li
							a(href='about.html') Giới thiệu
						li
							a(href='products.html') Sản phẩm
						li
							a(href='news.html') Tin tức
						li
							a(href='contact.html') Liên hệ
						li
							a(href='cart.html')
								i.fal.fa-shopping-cart
								span 0
	.navigation-mobile
		.container
			ul
				li.active
					a(href='index.html')
						i.fal.fa-home-lg
				li
					a(href='about.html')
						i.fal.fa-store
				li
					a(href='cart.html')
						i.fal.fa-shopping-cart
						span 0
				li
					i.fal.fa-bars