header
	.container
		nav
			.logo
				img.lazyload.blur-up(src='./images/LOGO.svg' alt='LOGO')
			ul
				li
					a(href='#') Trang chủ
				li
					a(href='#') Giới thiệu
				li
					a(href='#') Sản phẩm
				li
					a(href='#') Tin tức
				li
					a(href='#') Liên hệ