#loading-container
	.loading-wrapper
		#loading-logo
			img(src='./images/LOGO.svg', width="122", height="100", alt='HOANGLONG-CAR')
		.progress
			#progress-bar
		.progress-status
			| Loading: 
			span#progress-percentage 0
			| %