section.product-detail-overview.pd-section
	.container
		.row
			.col-md-4.col-sm-6
				.slider-product-detail
					.slider-active
						.swiper-container
							.swiper-wrapper
								-for(i=1;i<6;i++)
									.swiper-slide
										figure
											img.object-cover.object-resize(src=`./images/products/product_hoanglongcar_0${i}.jpg`, width="300", height="300", alt="SAN-PHAM-CHI-TIET-HOANGLONGCAR")
					.slider-thumb
						.swiper-container
							.swiper-wrapper
								-for(j=1;j<6;j++)
									.swiper-slide
										figure
											img.object-cover.object-resize(src=`./images/products/product_hoanglongcar_0${j}.jpg`, width="300", height="300", alt="SAN-PHAM-CHI-TIET-HOANGLONGCAR")
			.col-md-8.col-sm-6
				.information-product-detail
					.share-button
						i.far.fa-share-alt
					h1 Ninja Silhouette
					p.lcl.lcl-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit soluta reprehenderit esse modi, qui, sunt earum et labore eveniet aperiam id, dolores ea nisi voluptatum obcaecati neque in totam placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit soluta reprehenderit esse modi, qui, sunt earum et labore eveniet aperiam id, dolores ea nisi voluptatum obcaecati neque in totam placeat?
					h2 1.000.000
						span VNĐ
					del 2.300.000
						span VNĐ
					ul
						li
							p Thương hiệu
							p Yamaha
						li
							p Bảo hành
							p 2 năm
						li
							p Tình trạng
							p.color-green Còn hàng
					.quality-product-input
						input(type="text" value="1" readonly)
						.qly-n
							.btn.btn-plus
								i.fal.fa-plus
							.btn.btn-minus
								i.fal.fa-minus
					.btn-group
						.btn.bg-gray.btn-large.btn-scroll-to-gallery Xem ảnh thực tế
						.btn.bg-primary.btn-large Thêm vào bảng báo giá