section.about.pd-section
	.background(style="--data-bg:url('../../images/background/about-background-right.jpg')")
	.container
		.row
			.col-md-6
				.content.content-left
					h2 Hoàng Long Car®
					h1 Giới thiệu Hoàng Long Car®
					p Với bề dày kinh nghiệm trong lĩnh vực ô tô, Hoàng Long Car Spa cung cấp các dịch vụ chuyên nghiệp, chăm sóc, bảo vệ ô tô cao cấp. Chúng tôi luôn nỗ lực hoàn thiện mình qua từng ngày, từng dịch vụ, từng sản phẩm để đem lại trải nghiệm hài lòng nhất cho quý khách hàng.
					.signature
						img.lazyload.blur-up(src="./images/about/chu_ky.png", alt="CHU-KY-HOANGLONGCAR")
						b CEO OF HOANGLONGCAR
			.col-md-6
				.content.content-right
					h2 History
					ul
						-for(i=1;i<3;i++)
							li
								b 1985
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellendus modi porro illum mollitia velit non, officia earum, eum obcaecati nisi accusantium quae perferendis error, dolor quam eos enim officiis.