:root {
	--primary: #ffc513;
	--secondary: #111111;
	--light: #faf9fa;
	--white: #ffffff;
	--gray: #dedede;
	--black: #000000;
	--body: #2d2d2d;
	--dark: #474747;
	--border: #dedede;
	--neutral-medium_sub: #858585;
	--neutral-light_disable: #b8b8b8;
	--accent-red: #f63030;
	--accent-green: #00b359;
}
