.card-product {
	display: block;
	border: 0.1rem solid var(--border);
	border-radius: 0.3rem;
	.product__img {
		position: relative;
		overflow: hidden;
		padding-bottom: calc(300 / 300 * 100%);
		background: var(--gray);
		img {
			transition: 0.3s all linear;
		}
	}
	.product__information {
		padding: 1.6rem;
	}
	h3 {
		font-size: 2.4rem;
		margin-bottom: 0.8rem;
		@media (min-width: 1025px) {
			font-size: 1.4vw;
		}
		@media (max-width: 575.98px) {
			font-size: 2rem;
		}
	}
	h4 {
		color: var(--primary);
		font-size: 1.8rem;
		span {
			margin-left: 0.8rem;
		}
		@media (min-width: 1025px) {
			font-size: 1.4vw;
		}
	}
	del,
	p {
		color: var(--gray-text);
	}
	del {
		font-size: 1.6rem;
		@media (min-width: 1025px) {
			font-size: 1vw;
		}
	}
	p {
		margin-top: 0.8rem;
		@media (min-width: 1025px) {
			font-size: 0.8vw;
		}
		@media (max-width: 575.98px) {
			display: none;
		}
	}
	@media (min-width: 1025px) {
		&:hover {
			.product__img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}
