.page-banner {
	position: relative;
	height: 350px;
	overflow: hidden;
	div {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}
	h1 {
		text-align: center;
		color: var(--white);
		font-size: 4.4rem;
	}
	ul {
		display: flex;
		justify-content: center;
		margin-top: 16px;
		li {
			color: var(--white);
			+ li {
				&:before {
					content: '/';
					position: relative;
					left: 0;
					top: 0;
					margin: 0 12px;
					color: var(--white);
				}
			}
			&:last-child {
				color: var(--primary);
			}
		}
	}
	@media (max-width: 575.98px) {
		height: 250px;
		div {
			top: 50%;
		}
	}
}
