.pagination {
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		background: $hvh-white-color;
		display: flex;
		width: 100%;
		justify-content: flex-end;
		padding: 3rem 0;
		@media (max-width: 1024.98px) {
			padding: 2rem 0;
			justify-content: center;
		}
	}

	.page-numbers {
		margin: 0 1rem;
		@media (max-width: 1024.98px) {
			margin: 0 0.5rem;
		}

		& {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3rem;
			width: 3rem;
			color: #000000;
			border-radius: 0.5rem;
			font-weight: 400;
			font-size: 1.2rem;
			background: $hvh-white-color;
			border: 0.1rem solid $hvh-gray-border-color;
			transition: all 0.2s cubic-bezier(0.2, 0.5, 0.5, 0.8);
		}

		&:hover:not(.dots) {
			color: #ffffff;
			background: $hvh-secondary-color;
		}

		&:last-child {
			margin: 0 0 0 10px;
		}

		&.current {
			color: $hvh-secondary-color;
			background: $hvh-primary-color;
		}

		&.dots {
			border: 0;
		}
		& span.lnr-chevron-left {
			position: relative;
			&::before {
				font-size: 1.2rem;
				content: '\f054';
				font-family: $hvh-font-icons;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}
		
		& span.lnr-chevron-right {
			position: relative;
			&::before {
				content: '\f054';
				position: absolute;
				font-family: $hvh-font-icons;
				font-size: 1.2rem;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

