.tab-container {
	.tab__list {
		.item {
			position: relative;
			color: var(--neutral-light_disable);
			cursor: pointer;
			user-select: none;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
			padding-bottom: 8px;
			&:after {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				bottom: 0;
				left: 50%;
				transform: scale(0) translateX(-50%);
				background: var(--primary);
				border-radius: 50%;
				transition: 0.3s all ease-in-out;
				@media (max-width: 575.98px) {
					left: 0;
					bottom: unset;
					top: 50%;
				}
			}
			@media (max-width: 575.98px) {
				padding-bottom: 0;
				padding-left: 16px;
			}
			&.active {
				color: var(--body);
				&:after {
					transform: scale(1) translateX(-50%);
					@media (max-width: 1024.98px) {
						transform: scale(1) translateY(-50%);
					}
				}
			}
			+ .item {
				@media (max-width: 575.98px) {
					margin-top: 16px;
				}
			}
		}
	}

	.tab__content {
		.content {
			display: none;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
			&.show {
				opacity: 1;
			}
		}
	}
}
