// IMPORT GLOBAL HERE !!!
@import url("reset.css");
@import url("global.css");
@import url("variables.css");

// IMPORT CUSTOM FILE HERE !!!

// YOUR CSS HERE !!!
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	height: 150px;
	padding: 25px 0;
}

nav {
	display: flex;
	align-items: center;
	ul {
		display: flex;
		margin-left: auto;
	}
	li {
		+ li {
			margin-left: 42px;
		}
	}
	a {
		text-transform: uppercase;
		font-size: 1.6rem;
		line-height: 24px;
		font-weight: 700;
		color: var(--white);
	}
}

.hero-banner {
	.swiper-slide {
		position: relative;
		width: 100%;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 80%;
			background: var(--black);
			z-index: 1;
		}
		@media (min-width: 1200px) {
			height: 800px;
		}
	}
	.content {
		z-index: 10;
		h2 {
			font-size: 4rem;
			line-height: 48px;
			text-align: center;
			color: var(--white);
			text-transform: uppercase;
			span {
				color: var(--primary);
			}
			+ h2 {
				margin-top: 16px;
			}
		}
		h5 {
			font-size: 1.8rem;
			line-height: 24px;
			font-weight: 700;
			margin-top: 16px;
			color: var(--white);
		}
		p {
			text-align: center;
			font-size: 1.8rem;
			font-weight: 700;
			color: var(--primary);
			margin-top: 24px;
		}
		.CTA {
			text-align: center;
			margin-top: 44px;
		}
	}
}

.index-about {
	p {
		margin-top: 16px;
	}
	.CTA {
		display: flex;
		justify-content: flex-end;
	}
	.image {
		@media (max-width: 767.98px) {
			margin-top: 24px;
		}
	}
}

.index-core-value {
	margin-top: 30px;
	background: var(--secondary);
	h3 {
		font-size: 1.6rem;
		font-weight: 700;
		color: var(--light);
		letter-spacing: 1px;
		margin-top: 16px;
		text-transform: uppercase;
	}
	p {
		color: var(--neutral-light_disable);
		margin-top: 8px;
	}
	.list-item {
		margin-top: 30px;
		@media (min-width: 768px) {
			margin-top: 55px;
		}
		@media (min-width: 1200px) {
			margin-top: 80px;
		}
	}
	.item {
		@media (max-width: 1024.98px) {
			&:nth-child(3),
			&:nth-child(4) {
				margin-top: 30px;
			}
		}
		@media (max-width: 575.98px) {
			&:nth-child(2) {
				margin-top: 30px;
			}
		}
	}

	@media (min-width: 768px) {
		margin-top: 55px;
	}
	@media (min-width: 1200px) {
		margin-top: 80px;
	}
}

.index-services {
	p {
		margin-top: 8px;
	}
	.list-item {
		margin-top: 24px;
		h3 {
			margin-top: 16px;
		}
	}
	.item {
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 16px;
		}
	}
	.image {
		@media (max-width: 992px) {
			display: none;
		}
		@media (min-width: 1200px) {
			padding-left: 100px;
		}
	}
}
